<div class='card'>
  <div class='card-body'>
    <h2 class="card-title d-flex justify-content-between mb-4">
      <span> Edificios </span>
      <%= link_to  'Nuevo Edificio',new_building_path, class: 'btn btn-primary' %>
    </h2>

    <% @buildings.each do |building| %>
      <%= link_to building do %>
        <div class='card'>
          <div class='card-body'>
            <h5 class='card-title'><%= building.name %></h5>
            <p><%= building.address %></p>
          </div>
        </div>
      <% end %>  
    <% end %>
  
    
    



  </div>
</div>





