<%= link_to 'Back', buildings_path, class: 'btn btn-secondary' %>
<div class='card'>
  <div class='card-body'>
        <h2 class="card-title  mb-4">
            <span> Nuevo Edificio </span>
        </h2>
        <%= render 'form', apartment: @apartment %>
   </div>
</div>





